.bg-container {
  background-color: #93c5fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: #ffffff;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
}

.heading {
  text-content: center;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-tag {
  margin-right: 10px;
}
